* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --background-color: rgb(190, 195, 249);
    --accent-color: rgb(34, 5, 178);
    --button-text-color: rgb(37, 1, 48);
    --text-color: rgb(18, 1, 103);
    --link-block-color: rgb(235, 248, 254);
    --shadow-color: rgb(108, 145, 245);
    --glass-effect-color: rgba(0, 0, 0, 0.4);
    
    background-color: var(--background-color);
    /* margin: 0; */
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}   

body.dark{
    --background-color: rgb(59, 12, 99);
    --accent-color: rgb(190, 195, 249);
    --button-text-color: rgb(235, 248, 254);
    --text-color:rgb(37, 1, 48);
    --link-block-color: rgb(190, 195, 249);
    --shadow-color: rgb(37, 1, 48);
    --glass-effect-color: rgba(255, 255, 255, 0.6);
    
}
/*=============================================================================*/
/*===================================Sections======================================*/


/*==================================NAV===========================================*/
nav{
    display: flex;
    background-color: var(--accent-color);
    padding: 1rem;
    width: 100vw;
}

#darkButton{
    align-items: flex-start;
}

#backButton{
    align-items: flex-end;
    margin-left: 3rem;
}

.backButton {
    background-color: var(--shadow-color);
    width: 5rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 3em;

    transition: 1s;
    transform: scale(.9);
}
.backButton:hover, .backButton:focus {
    transform: scale(1.1);
}
.backButton a {
    color: var(--button-text-color);
    text-decoration: none;
}

.theme-toggle-button {
    background-color: var(--shadow-color);
    color: var(--button-text-color);
    width: 5rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 3em;

    transition: 1s;
    transform: scale(.9);
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
    transform: scale(1.1);  
}

#sun,
#moon{
    height: 1rem;
    width: 1rem;
}
#sun{
    opacity: 1;
}
.dark #sun {
    opacity: 0;
}
#moon{  
    opacity: 0;    
}
.dark #moon {
    opacity: 1;
}

/*==================================HEADER========================================*/
header{
    background-color: var(--shadow-color);
    color: var(--button-text-color);
    padding: 2rem 0;
    width: 100vw;
    margin-bottom: 1rem;
    display:flex;
    justify-content: center;
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
}


/*==================Main Block of links and stuff===================================*/
.container1{
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* preferred */
    grid-template-rows: 1fr;
    padding: 1rem;
    width: 100vw;
}

img{
    margin: 3rem;
    width: 150px;
    aspect-ratio: 1;
    overflow: hidden;
    box-shadow: .5rem .5rem 1rem var(--shadow-color);
    border-radius: 5px;
}

p {
    padding: 1rem;
}

a {
    font-weight: bold;
}

.linkBlocks{
background-color: var(--link-block-color);
color: var(--shadow-color);

border: var(--button-text-color) 2px solid;
border-radius: 13px;
box-shadow: .5rem .5rem 1rem var(--shadow-color);
overflow: hidden;
transition: 1s;
}
.linkBlocks:hover{
    transform: scale(1.1);
}

/**/
.tall{
    grid-row: span 2;
}
.long{
    grid-column: span 2;
}
.big{
    grid-column: span 2;
    grid-row: span 2;
}
.big2 {
    grid-column: span 3;
    grid-row: span 2;
}

iframe {
    padding: .5rem;
    margin-left: 1rem;
    width:auto;
}


/* ============== link buttons =============================*/
.btn-container {
    width: 100%;
    display: flex;
}
.block-button {
    background-color: var(--button-text-color);
    color: var(--accent-color);
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    margin: .5rem;
    padding: .3rem;
    margin: 1rem auto;
    cursor: pointer;
}
.block-button a{
    color: var(--shadow-color);
    text-decoration: none;
}
.block-button:hover {
    background-color: var(--background-color);
    scale: 1.1;
}

/* =================== Contact Section ===================================================*/
.contact-container {
    background-color: var(--shadow-color);
    width: 100vw;
    padding: 2rem 0;
    display:flex;
    justify-content: center;
    border-top: 3px dotted black;
}
.contact {
    margin: 2rem auto;
    color: var(--button-text-color);
    text-align: center;
}

/*==================== container-text content of sub-pages ++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.container-text {
    width: 75vw;
    padding: 1.6rem;
    margin: auto;
    /* background-color: var(--glass-effect-color);
    border: var(--button-text-color) 2px solid;
    border-radius: 13px;
    box-shadow: .5rem .5rem 1rem var(--shadow-color); */
}

.container-text p {
    color: var(--button-text-color);
}


/*====================FOOTER++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.footer{
    /* padding: 1rem 0;
    background-color: var(--accent-color); */
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* border-top: 3px dotted black; */
    width: 100vw;
}

#footer {
    padding: 1rem 0;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    border-top: 3px dotted black;
}

.footer p {
    font-size: .6em;
    /* border-bottom: 3px dotted black; */
    color: var(--shadow-color);
}

/* ============================== END CSS ===================================*/